html,
body {
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: #f7f7f7;
  color: #141414;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 8px 0;
}
h1 {
  font-size: 36px;
  line-height: 60px;
}

nav {
  padding: 72px 0;
}

a {
  text-decoration: none;
  color: #CC82A4;
}
a:hover {
  text-decoration: underline;
  color: #6D3C65;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
