@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: #fceff5;
  color: #141414;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 8px 0;
}
h1 {
  font-size: 36px;
  line-height: 60px;
}

nav {
  padding: 72px 0;
}

a {
  text-decoration: none;
  color: #6d3c65;
}
a:hover {
  text-decoration: underline;
  color: #cc82a4;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
